*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Public Sans', sans-serif;
    color: #FFFF;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90rem;
    
}

li{
    position: relative;
    width: 20.9375rem;
    height: 26.9375rem;
    margin: 0.625rem;
}

.legenda{
    position: absolute;
    top: 80%;
    font-size: 1.875rem;
    margin-left: 0.9375rem;
    font-weight: 700;
}

.legenda span{
    font-weight: 300;
    font-size: 1.0625rem;
}

